.main {
    .text {
        h1 {
            font-style: normal;
            font-weight: bold;
            font-size: 70px;
            line-height: 85px;
            color: #FFFFFF;
        }
        margin-top: 10%;
        margin-left: 10%;
    }
    height: 100vh;
    width: 100%;
}

.navbar-links {
    a {
        text-decoration: none;
        color: #03E26A;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        margin-right: 3rem;
    }

    a:hover {
        text-decoration: underline;
    }

    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    margin-top: 3rem;
}