.main {
    .text {
        h1 {
            font-style: normal;
            font-weight: bold;
            font-size: 5vw;
            line-height: 7vw;
            color: #FFFFFF;
            margin-top: 10%;
            margin-left: 10%;
        }    
    }
    height: 100vh;
}

@media only screen and (orientation: portrait) {
    .main {
        .text {
            h1 {    
                font-size: 13vw;
                line-height: 14vw;
                margin-top: 30%;
                margin-left: 1rem;
            }    
        }
    }
}

.navbar-links {
    .nav-link {
        text-decoration: none;
        color: #03E26A !important;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
    }

    a:hover {
        text-decoration: underline;
    }
}