.contacts {
    width: 100%;
    margin-top: 6rem;

    h1 {
        padding-top: 3rem;
        padding-left: 10%;
        padding-right: 10%;
        font-weight: bold;
        font-size: 36px;
        line-height: 44px;
    }

    .container-fluid {
        padding-left: 10%;
        padding-right: 10%;
    }

    .map {
        width: 600px;
    }

    h4 {
        font-weight: normal;
        font-size: 24px;
        line-height: 44px;
    }

    .arrow {
        font-size: 40px;
    }

    p {
        font-weight: normal;
        font-size: 24px;
        margin: 0;
    }

    a {
        font-weight: normal;
        font-size: 24px;
        color:white;
    }
}


@media only screen and (orientation: portrait) {
    .contacts {
        padding-top: 10rem;

        h1 {
            font-size: 7vw;
            line-height: 7vw;
        }

        .container-fluid {
            padding-left: 1rem;
            padding-right: 1rem;
        }

        p {
            font-weight: normal;
            font-size: 20px;
            margin: 0;
        }
    
        a {
            font-weight: normal;
            font-size: 20px;
            color:white;
        }

        .arrow {
            display: none
        }

        .text-right h4 {
            display: none
        }
    }

    
}